body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f0f2f5;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.game-container{
  background:white;
  padding:20px 40px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  width:400px;
}

.stats p{
  font-size:18px;
}

.game{
  margin:20px 0;
}

.dinero{
  font-size:48px;
  margin-bottom:20px;
}

.tienda{
  display:flex;
  flex-direction: column;
  gap:10px;
}

.buy-btn{
  padding:10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
  background:#222;
  color:white;
  transition:0.2s;
}

.buy-btn:hover{
  opacity:.85;
}
